/* Контейнер для станції */
.station-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px);
  background: url('/assets/images/hall-background.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  margin-top: 10px;
}

.marker {
  z-index: 100;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-size: contain;
  transition: transform 0.2s ease;
}

.entrance {
  background-size: contain;
  background: url('/assets/images/entrance.png') no-repeat center center;
}

.default {
  background-size: contain;
  background: url('/assets/images/person.png') no-repeat center center;
}

.disabled {
  background-size: contain;
  background: url('/assets/images/disabled.png') no-repeat center center;
}

.warveteran{
  background-size: contain;
  background: url('/assets/images/war-veteran.png') no-repeat center center;
}

.withchild {
  background-size: contain;
  background: url('/assets/images/mother.png') no-repeat center center;
}

.cash-desk {
  background-color: #e0ebf7;
  border-radius: 5px;
  border: 3px solid black;
}

.cash-desk-disabled {
  background-color: #e0ebf7;
  border-radius: 5px;
  border: 3px solid red;
}

.marker:hover {
  transform: scale(1.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #346cb0;
    color: white;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
  }

  .header .title {
    font-size: 24px;
    font-weight: bold;
  }

  .header .service-history {
    font-size: 16px;
    opacity: 0.8;
  }

  .settings {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  .settings-icon {
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
  }

  .settings-icon:hover {
    transform: rotate(360deg);
    cursor: pointer;
  }

  .stats {
    display: flex;
    justify-content: space-around;
    background-color: #e0ebf7;
    padding: 10px 0;
    font-family: Arial, sans-serif;
  }

  .stat {
    font-size: 16px;
    color: #555;
  }

  .stat strong {
    color: #000;
  }

  .content {
    background-color: #f7f7f7;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #777;
  }

  .content p {
    color: #bbb;
  }
