<div class="header">
  <div class="title">RAILWAY</div>
  <div class="controls">
    <button class="service-history" (click)="toggleSidebar()">SERVICE HISTORY</button>
    <button class="simulation-btn" (click)="startSimulation()">Start</button>
    <button class="simulation-btn" (click)="stopSimulation()">{{isSimulationActive ? 'Stop' : 'Resume'}}</button>
  </div>
  <div class="settings" (click)="goToSettings()">
    <img src="/assets/images/settings.png" alt="Settings" class="settings-icon"/>
  </div>
</div>


<div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
</div>

<div class="stats">
  <span class="stat">POST OFFICES: <strong>{{cashDesks.length}}</strong></span>
  <span class="stat">ENTRANCES: <strong>{{entrances.length}}</strong></span>
  <span class="stat">CLIENTS: <strong>{{clients.length}}</strong></span>
</div>


<div class="station-container" #stationContainer>
  <div *ngFor="let client of clients"
       [ngClass]="getPrivilegeLabel(client.privilege)"
       class="marker person"
       [style.top.px]="client.position.x * cellSize"
       [style.left.px]="client.position.y * cellSize">
  </div>

  <div *ngFor="let entrance of entrances"
       class="marker entrance"
       [style.top.px]="entrance.position.x * cellSize"
       [style.left.px]="entrance.position.y * cellSize">
  </div>

  <div *ngFor="let cashDesk of cashDesks"
       class="marker cash-desk"
       [ngClass]="{'cash-desk-disabled': cashDesk.isReserve, 'cash-desk': !cashDesk.isReserve}"
       [style.top.px]="cashDesk.position.x * cellSize"
       [style.left.px]="cashDesk.position.y * cellSize">
    <div class="stop-overlay" (click)="toggleCashDesk(cashDesk.id)">
      <span class="stop-text">{{ cashDesk.id == closedCashDeskId ? 'Відновити' : 'Призупинити' }}</span>
      <span class="stop-icon">{{ cashDesk.id == closedCashDeskId ? '✔' : '✖' }}</span>
    </div>
  </div>

</div>
