<div class="container">
    <div class="content">
      <div class="image-container">
        <img src="/assets/images/train.jpg" alt="Background Image" class="background-image" />
      </div>
      <form #form="ngForm" (ngSubmit)="Submit(form)">
      <div class="input-group">
        <div class="field-group">
          <input
            id="ticketOfficesNumber"
            type="number"
            class="input-field"
            placeholder=" "
            [(ngModel)]="stationConfiguration.cashDeskCount"
            name="ticketOfficesNumber"
            required
            min="1"
            max="5"
            #ticketOfficesNumber="ngModel"
          />
          <label for="ticketOfficesNumber" class="input-label">NUMBER OF TICKET OFFICES</label>
          <div *ngIf="ticketOfficesNumber.invalid && ticketOfficesNumber.touched" class="error-block">
            <small class="error-message" *ngIf="ticketOfficesNumber.errors?.['required']">This field is required</small>
            <small class="error-message" *ngIf="ticketOfficesNumber.errors?.['min']">Value must be greater than 0</small>
            <small class="error-message" *ngIf="ticketOfficesNumber.errors?.['max']">Value must be less than or equal to 5</small>
          </div>
        </div>

        <div class="field-group">
          <input
            id="entrancesNumber"
            type="number"
            placeholder=" "
            class="input-field"
            [(ngModel)]="stationConfiguration.entranceCount"
            name="entrancesNumber"
            required
            min="1"
            max="3"
            #entrancesNumber="ngModel"
          />
          <label for="entrancesNumber" class="input-label">NUMBER OF ENTRANCES</label>
          <div *ngIf="entrancesNumber.invalid && entrancesNumber.touched" class="error-block">
            <small class="error-message" *ngIf="entrancesNumber.errors?.['required']">This field is required</small>
            <small class="error-message" *ngIf="entrancesNumber.errors?.['min']">Value must be greater than 0</small>
            <small class="error-message" *ngIf="entrancesNumber.errors?.['max']">Value must be less than or equal to 3</small>
          </div>
        </div>

        <div class="field-group">
          <input
            id="serviceTime"
            type="number"
            placeholder=" "
            class="input-field"
            [(ngModel)]="stationConfiguration.serviceTime"
            name="serviceTime"
            required
            min="1"
            max="120"
            #serviceTime="ngModel"
          />
          <label for="serviceTime" class="input-label">SERVICE TIME (seconds)</label>
          <div *ngIf="serviceTime.invalid && serviceTime.touched" class="error-block">
            <small class="error-message" *ngIf="serviceTime.errors?.['required']">This field is required</small>
            <small class="error-message" *ngIf="serviceTime.errors?.['min']">Value must be greater than 0</small>
            <small class="error-message" *ngIf="serviceTime.errors?.['max']">Value must be less than or equal to 120</small>
          </div>
        </div>
      </div>

      <div class="strategy">
        <label>
          <input
            type="radio"
            name="strategy"
            value="Simple"
            [(ngModel)]="stationConfiguration.generationType"
          />
          SIMPLE
        </label>
        <label>
          <input
            type="radio"
            name="strategy"
            value="Random"
            [(ngModel)]="stationConfiguration.generationType"
          />
          RANDOM
        </label>
      </div>

      <button
        class="submit-button"
        [disabled]="form.invalid"
        [ngClass]="[form.invalid ? 'disabled-button' : 'start-button']"
        type="submit">START</button>

      </form>
    </div>
  </div>
