<div class="container">
    <div class="content">
      <div class="image-container">
        <img src="/assets/images/train.jpg" alt="Background Image" class="background-image" />
      </div>
      <div class="input-group">
        <div class="field-group">
          <input
            id="ticketOfficesNumber"
            type="number"
            class="input-field"
            placeholder=" "
            [(ngModel)]="stationConfiguration.cashDeskCount"
          />
          <label for="ticketOfficesNumber" class="input-label">NUMBER OF TICKET OFFICES</label>
        </div>

        <div class="field-group">
          <input
            id="entrancesNumber"
            type="number"
            placeholder=" "
            class="input-field"
            [(ngModel)]="stationConfiguration.entranceCount"
          />
          <label for="entrancesNumber" class="input-label">NUMBER OF ENTRANCES</label>
        </div>

        <div class="field-group">
          <input
            id="serviceTime"
            type="number"
            placeholder=" "
            class="input-field"
            [(ngModel)]="stationConfiguration.serviceTime"
          />
          <label for="serviceTime" class="input-label">SERVICE TIME</label>
        </div>
      </div>

      <div class="strategy">
        <label>
          <input
            type="radio"
            name="strategy"
            value="Simple"
            [(ngModel)]="stationConfiguration.generationType"
          />
          FIRST
        </label>
        <label>
          <input
            type="radio"
            name="strategy"
            value="Random"
            [(ngModel)]="stationConfiguration.generationType"
          />
          SECOND
        </label>
      </div>

      <button class="start-button" (click)="start()">START</button>
    </div>
  </div>
