<div class="container">
    <div class="content">
      <div class="image-container">
        <img src="/assets/images/train.jpg" alt="Background Image" class="background-image" />
      </div>
      <div class="input-group">
        <input
          type="number"
          placeholder="NUMBER OF TICKET OFFICES"
          [(ngModel)]="stationConfiguration.cashDeskCount"
        />
        <input
          type="number"
          placeholder="NUMBER OF ENTRANCES"
          [(ngModel)]="stationConfiguration.entranceCount"
        />
        <input
          type="number"
          placeholder="SERVICE TIME"
          [(ngModel)]="stationConfiguration.serviceTime"
        />
      </div>

      <div class="strategy">
        <label>
          <input
            type="radio"
            name="strategy"
            value="Simple"
            [(ngModel)]="stationConfiguration.generationType"
          />
          FIRST
        </label>
        <label>
          <input
            type="radio"
            name="strategy"
            value="Random"
            [(ngModel)]="stationConfiguration.generationType"
          />
          SECOND
        </label>
      </div>

      <button class="start-button" (click)="start()">START</button>
    </div>
  </div>
